*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg,rgb(65, 77, 204),rgb(29, 46, 225));
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
div.container{
    color: white;
    height: fit-content;
    width: fit-content;
    justify-content:center;
    > div{
        width: 100%;
        margin: 10px 20px;
        padding: 5px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        > a{
            text-decoration: none;
            color: white;
        }
    }
}
h3{
    color: white;
    display: block;
}
button{
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    > a{
        text-decoration: none;
        color:black;
        font-size: 16px;
    }
}
a{
    font-size: 17px;
    font-style: italic;
}
.link{
    text-decoration: underline;
    color: yellow;
}